In [33]:
%%time
import pandas as pd
import seaborn as sns

pd.options.display.max_columns = 50

eukaryota_counted = pd.read_parquet(
    "/Users/olgabot/botryllus-data/2024-03-30__uniprot_eukaryota_counted_per_kingdom.parquet"
)

eukaryota_counted = eukaryota_counted.sort_values("len", ascending=False)

eukaryota_counted.head()

CPU times: user 2.24 s, sys: 4.15 s, total: 6.4 s
Wall time: 1.62 s

,opisthokonta,metazoa,fungi,viridiplantae,Taxonomic lineage,Organism,Organism (ID),Reviewed,len
327656,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Cyprinus carpio (Common carp),7962,unreviewed,390099
635712,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Sus scrofa (Pig),9823,unreviewed,330804
284198,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Rotaria magnacalcarata,392030,unreviewed,315865
136458,True,False,True,False,"cellular organisms (no rank), Eukaryota (super...",Aureobasidium pullulans (Black yeast) (Pullula...,5580,unreviewed,293087
905164,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Adineta steineri,433720,unreviewed,267110

In [10]:
eukaryota_counted.dtypes

opisthokonta           bool
metazoa                bool
fungi                  bool
viridiplantae          bool
Taxonomic lineage    object
Organism             object
Organism (ID)         int64
Reviewed             object
len                  uint32
dtype: object

In [11]:
# eukaryota_counted.nlargest(10, "len")

# Read World Registry of Marine Species data

## Taxon data for all

In [34]:
%%time

worms_taxon = pd.read_csv(
    "/Users/olgabot/botryllus-data/WoRMS_download_2024-04-01/taxon.txt",
    sep="\t",
    index_col=0,
)
print(worms_taxon.shape)
worms_taxon.head()

(574332, 31)

,scientificNameID,acceptedNameUsageID,parentNameUsageID,namePublishedInID,scientificName,acceptedNameUsage,parentNameUsage,namePublishedIn,namePublishedInYear,kingdom,phylum,class,order,family,genus,subgenus,specificEpithet,infraspecificEpithet,taxonRank,scientificNameAuthorship,nomenclaturalCode,taxonomicStatus,nomenclaturalStatus,modified,bibliographicCitation,references,license,rightsHolder,datasetName,institutionCode,datasetID
taxonID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
urn:lsid:marinespecies.org:taxname:1,urn:lsid:marinespecies.org:taxname:1,urn:lsid:marinespecies.org:taxname:1,NaN,NaN,Biota,Biota,Biota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,accepted,NaN,2004-12-21,WoRMS (2024). Biota. Accessed at: https://www....,https://www.marinespecies.org/aphia.php?p=taxd...,NaN,NaN,NaN,NaN,NaN
urn:lsid:marinespecies.org:taxname:2,urn:lsid:marinespecies.org:taxname:2,urn:lsid:marinespecies.org:taxname:2,urn:lsid:marinespecies.org:taxname:1,NaN,Animalia,Animalia,Biota,NaN,NaN,Animalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom,NaN,NaN,accepted,NaN,2004-12-21,WoRMS (2024). Animalia. Accessed at: https://w...,https://www.marinespecies.org/aphia.php?p=taxd...,NaN,NaN,NaN,NaN,NaN
urn:lsid:marinespecies.org:taxname:3,urn:lsid:marinespecies.org:taxname:3,urn:lsid:marinespecies.org:taxname:3,urn:lsid:marinespecies.org:taxname:1,NaN,Plantae,Plantae,Biota,NaN,NaN,Plantae,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom,"Haeckel, 1866",NaN,accepted,NaN,2011-07-29,WoRMS (2024). Plantae. Accessed at: https://ww...,https://www.marinespecies.org/aphia.php?p=taxd...,NaN,NaN,NaN,NaN,NaN
urn:lsid:marinespecies.org:taxname:4,urn:lsid:marinespecies.org:taxname:4,urn:lsid:marinespecies.org:taxname:4,urn:lsid:marinespecies.org:taxname:1,NaN,Fungi,Fungi,Biota,NaN,NaN,Fungi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom,NaN,NaN,accepted,NaN,2004-12-21,WoRMS (2024). Fungi. Accessed at: https://www....,https://www.marinespecies.org/aphia.php?p=taxd...,NaN,NaN,NaN,NaN,NaN
urn:lsid:marinespecies.org:taxname:5,urn:lsid:marinespecies.org:taxname:5,urn:lsid:marinespecies.org:taxname:5,urn:lsid:marinespecies.org:taxname:1,NaN,Protozoa,Protozoa,Biota,NaN,NaN,Protozoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom,"Owen, 1858",NaN,accepted,NaN,2011-07-29,WoRMS (2024). Protozoa. Accessed at: https://w...,https://www.marinespecies.org/aphia.php?p=taxd...,NaN,NaN,NaN,NaN,NaN

### Check for common carp

In [68]:
common_carp_worms_id = "urn:lsid:marinespecies.org:taxname:154582"

worms_taxon.loc[common_carp_worms_id]

scientificNameID                    urn:lsid:marinespecies.org:taxname:154582
acceptedNameUsageID                 urn:lsid:marinespecies.org:taxname:154582
parentNameUsageID                   urn:lsid:marinespecies.org:taxname:154280
namePublishedInID                       https://doi.org/10.5962/bhl.title.542
scientificName                                                Cyprinus carpio
acceptedNameUsage                                             Cyprinus carpio
parentNameUsage                                                      Cyprinus
namePublishedIn             Linnaeus, C. (1758). Systema Naturae per regna...
namePublishedInYear                                                      1758
kingdom                                                              Animalia
phylum                                                               Chordata
class                                                               Teleostei
order                                                           Cypriniformes
family                                                             Cyprinidae
genus                                                                Cyprinus
subgenus                                                                  NaN
specificEpithet                                                        carpio
infraspecificEpithet                                                      NaN
taxonRank                                                             Species
scientificNameAuthorship                                       Linnaeus, 1758
nomenclaturalCode                                                        ICZN
taxonomicStatus                                                      accepted
nomenclaturalStatus                                                       NaN
modified                                                           2008-01-15
bibliographicCitation       Froese, R. and D. Pauly. Editors. (2024). Fish...
references                  https://www.marinespecies.org/aphia.php?p=taxd...
license                                                                   NaN
rightsHolder                                                              NaN
datasetName                                                               NaN
institutionCode                                                           NaN
datasetID                                                                 NaN
Name: urn:lsid:marinespecies.org:taxname:154582, dtype: object

### Simplifiy Worms taxonomy data and only use "accepted" species for now

In [55]:
cols = [
    "scientificName",
    "kingdom",
    "phylum",
    "class",
    "order",
    "family",
    "genus",
    # "subgenus",
    "specificEpithet",
    # "infraspecificEpithet",
    "taxonRank",
    # 'taxonomicStatus'
    # "nomenclaturalStatus",
]

worms_taxon_simplified = worms_taxon.query('taxonomicStatus == "accepted"')[cols]
print(worms_taxon_simplified.shape)
worms_taxon_simplified.head()

(282261, 9)

,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
taxonID,,,,,,,,,
urn:lsid:marinespecies.org:taxname:1,Biota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
urn:lsid:marinespecies.org:taxname:2,Animalia,Animalia,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
urn:lsid:marinespecies.org:taxname:3,Plantae,Plantae,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
urn:lsid:marinespecies.org:taxname:4,Fungi,Fungi,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
urn:lsid:marinespecies.org:taxname:5,Protozoa,Protozoa,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom

In [56]:
worms_taxon_simplified.sample(10)

,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
taxonID,,,,,,,,,
urn:lsid:marinespecies.org:taxname:709801,Arena tabida,Animalia,Arthropoda,Hexapoda,Coleoptera,Staphylinidae,Arena,tabida,Species
urn:lsid:marinespecies.org:taxname:417322,Metopus rotundus,Chromista,Ciliophora,NaN,Armophorida,Metopidae,Metopus,rotundus,Species
urn:lsid:marinespecies.org:taxname:241815,Elpidia chilensis,Animalia,Echinodermata,Holothuroidea,Elasipodida,Elpidiidae,Elpidia,chilensis,Species
urn:lsid:marinespecies.org:taxname:137001,Clangula,Animalia,Chordata,Aves,Anseriformes,Anatidae,Clangula,NaN,Genus
urn:lsid:marinespecies.org:taxname:409410,Acanthosquilla manningi,Animalia,Arthropoda,Malacostraca,Stomatopoda,Nannosquillidae,Acanthosquilla,manningi,Species
urn:lsid:marinespecies.org:taxname:505962,Aulacomya maoriana,Animalia,Mollusca,Bivalvia,Mytilida,Mytilidae,Aulacomya,maoriana,Species
urn:lsid:marinespecies.org:taxname:863788,Stylonychia (Onychodromus),Chromista,Ciliophora,Spirotrichea,NaN,Oxytrichidae,Stylonychia,NaN,Subgenus
urn:lsid:marinespecies.org:taxname:433696,Eucithara caledonica,Animalia,Mollusca,Gastropoda,Neogastropoda,Mangeliidae,Eucithara,caledonica,Species
urn:lsid:marinespecies.org:taxname:1606054,Gonionida angusta,Animalia,Arthropoda,Malacostraca,Decapoda,Munididae,Gonionida,angusta,Species
urn:lsid:marinespecies.org:taxname:331592,Sabella mossambica,Animalia,Annelida,Polychaeta,Sabellida,Sabellidae,Sabella,mossambica,Species

## Worms identifiers (mapping to NCBI taxonomy)

In [8]:
worms_identifiers = pd.read_csv(
    "/Users/olgabot/botryllus-data/WoRMS_download_2024-04-01/identifier.txt",
    sep="\t",
    index_col=0,
)
print(worms_identifiers.shape)
worms_identifiers.head()

(98477, 5)

,identifier,title,format,datasetID,subject
taxonID,,,,,
urn:lsid:marinespecies.org:taxname:1,NCBI:txid131567,To Genbank,NaN,ncbi,NaN
urn:lsid:marinespecies.org:taxname:2,NCBI:txid33208,To GenBank (1 nucleotides; 0 proteins),NaN,ncbi,NaN
urn:lsid:marinespecies.org:taxname:4,NCBI:txid4751,To GenBank (211 nucleotides; 1 proteins),NaN,ncbi,NaN
urn:lsid:marinespecies.org:taxname:6,NCBI:txid629395,To GenBank (0 nucleotides; 4 proteins),NaN,ncbi,NaN
urn:lsid:marinespecies.org:taxname:6,NCBI:txid2,To GenBank (24 nucleotides; 29713 proteins),NaN,ncbi,NaN

In [13]:
worms_identifiers["ncbi_taxid"] = worms_identifiers.identifier.str.lstrip(
    "NCBI:txid"
).astype(int)
worms_identifiers.head()

,identifier,title,format,datasetID,subject,ncbi_taxid
taxonID,,,,,,
urn:lsid:marinespecies.org:taxname:1,NCBI:txid131567,To Genbank,NaN,ncbi,NaN,131567
urn:lsid:marinespecies.org:taxname:2,NCBI:txid33208,To GenBank (1 nucleotides; 0 proteins),NaN,ncbi,NaN,33208
urn:lsid:marinespecies.org:taxname:4,NCBI:txid4751,To GenBank (211 nucleotides; 1 proteins),NaN,ncbi,NaN,4751
urn:lsid:marinespecies.org:taxname:6,NCBI:txid629395,To GenBank (0 nucleotides; 4 proteins),NaN,ncbi,NaN,629395
urn:lsid:marinespecies.org:taxname:6,NCBI:txid2,To GenBank (24 nucleotides; 29713 proteins),NaN,ncbi,NaN,2

In [15]:
ncbi_ids_per_species = worms_identifiers.groupby("identifier").size()
ncbi_ids_per_species

identifier
NCBI:txid100025     1
NCBI:txid1000278    1
NCBI:txid100032     1
NCBI:txid100034     1
NCBI:txid100036     1
                   ..
NCBI:txid999815     1
NCBI:txid999816     1
NCBI:txid999817     1
NCBI:txid999818     1
NCBI:txid999932     1
Length: 79689, dtype: int64

In [16]:
ncbi_ids_per_species[ncbi_ids_per_species > 1]

identifier
NCBI:txid1001664    2
NCBI:txid100188     2
NCBI:txid100190     2
NCBI:txid100192     2
NCBI:txid100194     2
                   ..
NCBI:txid999269     2
NCBI:txid999270     2
NCBI:txid999272     2
NCBI:txid999274     2
NCBI:txid999276     2
Length: 15451, dtype: int64

In [17]:
ncbi_ids_per_species.describe()

count    79689.000000
mean         1.235767
std          0.541988
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         10.000000
dtype: float64

In [19]:
ncbi_ids_per_species[ncbi_ids_per_species > 8]

identifier
NCBI:txid2939324     9
NCBI:txid2951298    10
NCBI:txid2963852    10
NCBI:txid2980191     9
NCBI:txid41324       9
NCBI:txid458513      9
dtype: int64

In [22]:
worms_identifiers.query('identifier == "NCBI:txid2951298"')

,identifier,title,format,datasetID,subject,ncbi_taxid
taxonID,,,,,,
urn:lsid:marinespecies.org:taxname:141136,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:141138,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:153329,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:153480,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:747910,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:747920,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:748228,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:748310,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:750124,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298
urn:lsid:marinespecies.org:taxname:750125,NCBI:txid2951298,To GenBank (1 nucleotides; 1 proteins),NaN,ncbi,NaN,2951298

In [24]:
n_species_per_ncbi_id = worms_identifiers.groupby(level=0).size()
n_species_per_ncbi_id[n_species_per_ncbi_id > 1]

taxonID
urn:lsid:marinespecies.org:taxname:100152    2
urn:lsid:marinespecies.org:taxname:100212    2
urn:lsid:marinespecies.org:taxname:100731    2
urn:lsid:marinespecies.org:taxname:101446    2
urn:lsid:marinespecies.org:taxname:101580    2
                                            ..
urn:lsid:marinespecies.org:taxname:8024      2
urn:lsid:marinespecies.org:taxname:836032    2
urn:lsid:marinespecies.org:taxname:850668    2
urn:lsid:marinespecies.org:taxname:874593    2
urn:lsid:marinespecies.org:taxname:890522    2
Length: 337, dtype: int64

### Cut down to just a few columns for simplified joining

In [28]:
worms_identifiers.shape

(98477, 6)

In [32]:
worms_identifiers_simplified = worms_identifiers.query('datasetID == "ncbi"')[
    ["ncbi_taxid", "title"]
]  # .reset_index()
print(worms_identifiers_simplified.shape)
worms_identifiers_simplified.head()

(98477, 2)

,ncbi_taxid,title
taxonID,,
urn:lsid:marinespecies.org:taxname:1,131567,To Genbank
urn:lsid:marinespecies.org:taxname:2,33208,To GenBank (1 nucleotides; 0 proteins)
urn:lsid:marinespecies.org:taxname:4,4751,To GenBank (211 nucleotides; 1 proteins)
urn:lsid:marinespecies.org:taxname:6,629395,To GenBank (0 nucleotides; 4 proteins)
urn:lsid:marinespecies.org:taxname:6,2,To GenBank (24 nucleotides; 29713 proteins)

## Worms Marine/Terrestrial info

In [7]:
worms_species_profile = pd.read_csv(
    "/Users/olgabot/botryllus-data/WoRMS_download_2024-04-01/speciesprofile.txt",
    sep="\t",
    index_col=0,
)
print(worms_species_profile.shape)
worms_species_profile.head()

(574332, 5)

,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish
taxonID,,,,,
urn:lsid:marinespecies.org:taxname:1,1.0,1.0,1.0,NaN,1.0
urn:lsid:marinespecies.org:taxname:2,1.0,1.0,1.0,NaN,1.0
urn:lsid:marinespecies.org:taxname:3,1.0,1.0,1.0,NaN,1.0
urn:lsid:marinespecies.org:taxname:4,1.0,1.0,1.0,NaN,1.0
urn:lsid:marinespecies.org:taxname:5,1.0,1.0,1.0,NaN,1.0

## Join WORMS data together

In [69]:
worms_species_profile_ids = (
    worms_species_profile.join(worms_identifiers_simplified, how="inner")
    .join(worms_taxon_simplified, how="inner")
    .reset_index()
)
print(worms_species_profile_ids.shape)
worms_species_profile_ids.head()

(74038, 17)

,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
0,urn:lsid:marinespecies.org:taxname:1,1.0,1.0,1.0,NaN,1.0,131567,To Genbank,Biota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,urn:lsid:marinespecies.org:taxname:2,1.0,1.0,1.0,NaN,1.0,33208,To GenBank (1 nucleotides; 0 proteins),Animalia,Animalia,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
2,urn:lsid:marinespecies.org:taxname:4,1.0,1.0,1.0,NaN,1.0,4751,To GenBank (211 nucleotides; 1 proteins),Fungi,Fungi,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
3,urn:lsid:marinespecies.org:taxname:6,1.0,1.0,1.0,NaN,1.0,629395,To GenBank (0 nucleotides; 4 proteins),Bacteria,Bacteria,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
4,urn:lsid:marinespecies.org:taxname:6,1.0,1.0,1.0,NaN,1.0,2,To GenBank (24 nucleotides; 29713 proteins),Bacteria,Bacteria,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom

### Randomly sample terrestrial

In [78]:
worms_species_profile_ids.query("isTerrestrial == 1").sample(10)

,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
274,urn:lsid:marinespecies.org:taxname:1403,1.0,1.0,1.0,NaN,1.0,5957,To Genbank,Heterotrichida,Chromista,Ciliophora,Heterotrichea,Heterotrichida,NaN,NaN,NaN,Order
62163,urn:lsid:marinespecies.org:taxname:600867,1.0,1.0,1.0,NaN,1.0,1316747,To Genbank,Dichothrix,Bacteria,Cyanobacteria,Cyanophyceae,Nostocales,Rivulariaceae,Dichothrix,NaN,Genus
26643,urn:lsid:marinespecies.org:taxname:225743,1.0,1.0,1.0,NaN,NaN,37076,To Genbank,Pelecanoididae,Animalia,Chordata,Aves,Procellariiformes,Pelecanoididae,NaN,NaN,Family
20257,urn:lsid:marinespecies.org:taxname:177499,1.0,1.0,1.0,NaN,1.0,454131,To Genbank,Jaaginema,Bacteria,Cyanobacteria,Cyanophyceae,Synechococcales,Synechococcales incertae sedis,Jaaginema,NaN,Genus
4289,urn:lsid:marinespecies.org:taxname:108461,1.0,NaN,1.0,NaN,NaN,73364,To Genbank,Brachylaimidae,Animalia,Platyhelminthes,Trematoda,Diplostomida,Brachylaimidae,NaN,NaN,Family
71125,urn:lsid:marinespecies.org:taxname:1384790,1.0,NaN,1.0,NaN,NaN,347356,To Genbank,Gyrophaena,Animalia,Arthropoda,Hexapoda,Coleoptera,Staphylinidae,Gyrophaena,NaN,Genus
15766,urn:lsid:marinespecies.org:taxname:148971,1.0,1.0,1.0,NaN,1.0,33840,To Genbank,Coscinodiscophycidae,Chromista,Bacillariophyta,Bacillariophyceae,NaN,NaN,NaN,NaN,Subclass
54209,urn:lsid:marinespecies.org:taxname:494108,1.0,NaN,1.0,NaN,NaN,34690,To GenBank (36352 nucleotides; 1331 proteins),Anopheles melas,Animalia,Arthropoda,Hexapoda,Diptera,Culicidae,Anopheles,melas,Species
73683,urn:lsid:marinespecies.org:taxname:1600227,NaN,NaN,1.0,NaN,1.0,2494654,To GenBank (4 nucleotides; 2 proteins),Kewa acida,Plantae,Tracheophyta,Magnoliopsida,Caryophyllales,Kewaceae,Kewa,acida,Species
65761,urn:lsid:marinespecies.org:taxname:828457,1.0,1.0,1.0,NaN,1.0,669476,To GenBank (19 nucleotides; 13 proteins),Contracaecum australe,Animalia,Nematoda,Chromadorea,Rhabditida,Anisakidae,Contracaecum,australe,Species

### Randomly sample extinct (nvm no exinct species here)

In [86]:
worms_species_profile_ids.query("isExtinct == 1")

Empty DataFrame
Columns: [taxonID, isMarine, isFreshwater, isTerrestrial, isExtinct, isBrackish, ncbi_taxid, title, scientificName, kingdom, phylum, class, order, family, genus, specificEpithet, taxonRank]
Index: []

In [70]:
worms_species_profile_ids.ncbi_taxid.nunique()

73677

In [71]:
worms_species_profile_ids.sample(10)

,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
22082,urn:lsid:marinespecies.org:taxname:205743,1.0,NaN,NaN,NaN,NaN,48607,To Genbank,Metagoniolithon,Plantae,Rhodophyta,Florideophyceae,Corallinales,Porolithaceae,Metagoniolithon,NaN,Genus
15109,urn:lsid:marinespecies.org:taxname:144288,1.0,NaN,NaN,NaN,1.0,205395,To Genbank,Capsosiphon,Plantae,Chlorophyta,Ulvophyceae,Ulotrichales,Ulotrichaceae,Capsosiphon,NaN,Genus
53677,urn:lsid:marinespecies.org:taxname:487982,1.0,0.0,0.0,0.0,0.0,2676266,To GenBank (20 nucleotides; 12 proteins),Megalobrachium sinuimanus,Animalia,Arthropoda,Malacostraca,Decapoda,Porcellanidae,Megalobrachium,sinuimanus,Species
48781,urn:lsid:marinespecies.org:taxname:426071,1.0,0.0,1.0,NaN,0.0,71339,To GenBank (24 nucleotides; 20 proteins),Crambe maritima,Plantae,Tracheophyta,Magnoliopsida,Brassicales,Brassicaceae,Crambe,maritima,Species
18564,urn:lsid:marinespecies.org:taxname:163516,1.0,0.0,0.0,NaN,0.0,238899,To Genbank,Chlamydodontidae,Chromista,Ciliophora,Phyllopharyngea,Chlamydodontida,Chlamydodontidae,NaN,NaN,Family
16006,urn:lsid:marinespecies.org:taxname:150321,1.0,NaN,NaN,NaN,NaN,91336,To Genbank,Ascidae,Animalia,Arthropoda,Arachnida,Mesostigmata,Ascidae,NaN,NaN,Family
47537,urn:lsid:marinespecies.org:taxname:416507,1.0,NaN,NaN,NaN,NaN,2267791,To GenBank (2 nucleotides; 1 proteins),Psammodrilus fauveli,Animalia,Annelida,Polychaeta,NaN,Psammodrilidae,Psammodrilus,fauveli,Species
2963,urn:lsid:marinespecies.org:taxname:105165,1.0,NaN,NaN,NaN,NaN,100448,To GenBank (4 nucleotides; 0 proteins),Proteocephalus filicollis,Animalia,Platyhelminthes,Cestoda,Onchoproteocephalidea,Proteocephalidae,Proteocephalus,filicollis,Species
37155,urn:lsid:marinespecies.org:taxname:281818,1.0,0.0,0.0,NaN,1.0,714203,To GenBank (15 nucleotides; 39 proteins),Odontamblyopus rebecca,Animalia,Chordata,Teleostei,Gobiiformes,Gobiidae,Odontamblyopus,rebecca,Species
44060,urn:lsid:marinespecies.org:taxname:388675,1.0,0.0,0.0,NaN,0.0,458557,To GenBank (4 nucleotides; 4 proteins),Bathyraja cousseauae,Animalia,Chordata,Elasmobranchii,Rajiformes,Arhynchobatidae,Bathyraja,cousseauae,Species

### Check for common carp

In [72]:
worms_species_profile_ids.query("ncbi_taxid == 7962")

,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
16738,urn:lsid:marinespecies.org:taxname:154582,0.0,1.0,0.0,NaN,1.0,7962,To GenBank (394075 nucleotides; 136046 proteins),Cyprinus carpio,Animalia,Chordata,Teleostei,Cypriniformes,Cyprinidae,Cyprinus,carpio,Species

## Join with Eukaryotes, add column if any kind of aquatic (marine, freshwater, brackish)

In [110]:
eukaryota_counted_worms = eukaryota_counted.merge(
    worms_species_profile_ids,
    how="left",
    left_on="Organism (ID)",
    right_on="ncbi_taxid",
)

water_cols = ["isMarine", "isFreshwater", "isBrackish"]

eukaryota_counted_worms["any_marine_freshwater_brackish"] = (
    eukaryota_counted_worms[water_cols].any(axis=1)
)
print(eukaryota_counted_worms["any_marine_freshwater_brackish"].sum())
print(eukaryota_counted_worms.shape)
eukaryota_counted_worms.head()

36805
(1006714, 27)

,opisthokonta,metazoa,fungi,viridiplantae,Taxonomic lineage,Organism,Organism (ID),Reviewed,len,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank,any_marine_freshwater_brackish
0,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Cyprinus carpio (Common carp),7962,unreviewed,390099,urn:lsid:marinespecies.org:taxname:154582,0.0,1.0,0.0,NaN,1.0,7962.0,To GenBank (394075 nucleotides; 136046 proteins),Cyprinus carpio,Animalia,Chordata,Teleostei,Cypriniformes,Cyprinidae,Cyprinus,carpio,Species,True
1,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Sus scrofa (Pig),9823,unreviewed,330804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Rotaria magnacalcarata,392030,unreviewed,315865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,True,False,True,False,"cellular organisms (no rank), Eukaryota (super...",Aureobasidium pullulans (Black yeast) (Pullula...,5580,unreviewed,293087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Adineta steineri,433720,unreviewed,267110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

### Save to file!

In [111]:
eukaryota_counted_worms.to_parquet(
    "/Users/olgabot/botryllus-data/2024-04-15__uniprot_eukaryota_counted_per_kingdom__worms_ismarine.parquet"
)

### Subset to only Reviewed

In [112]:
eukaryota_counted_worms_reviewed = eukaryota_counted_worms.query(
    "Reviewed == 'reviewed'"
)
print(eukaryota_counted_worms_reviewed.shape)
eukaryota_counted_worms_reviewed.head()

(8350, 27)

,opisthokonta,metazoa,fungi,viridiplantae,Taxonomic lineage,Organism,Organism (ID),Reviewed,len,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank,any_marine_freshwater_brackish
988,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Homo sapiens (Human),9606,reviewed,20434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1181,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Mus musculus (Mouse),10090,reviewed,17207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1239,False,False,False,True,"cellular organisms (no rank), Eukaryota (super...",Arabidopsis thaliana (Mouse-ear cress),3702,reviewed,16384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2770,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Rattus norvegicus (Rat),10116,reviewed,8195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2926,True,False,True,False,"cellular organisms (no rank), Eukaryota (super...",Saccharomyces cerevisiae (strain ATCC 204508 /...,559292,reviewed,6727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

### Save to file!

In [113]:
eukaryota_counted_worms_reviewed.to_parquet(
    "/Users/olgabot/botryllus-data/2024-04-15__uniprot_eukaryota_counted_per_kingdom__worms_ismarine__reviewed.parquet"
)

# Add count of total percentages

In [114]:
from uniprot_wealth_inequality import add_percent_rolling

In [115]:
eukaryota_counted_worms_reviewed_rolling = add_percent_rolling(
    eukaryota_counted_worms_reviewed
)
print(eukaryota_counted_worms_reviewed_rolling.shape)
eukaryota_counted_worms_reviewed_rolling.head()

(8350, 29)

/Users/olgabot/code/botryllus-mhc/notebooks/uniprot_wealth_inequality.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["percent"] = 100 * df["len"] / reviewed_total

,opisthokonta,metazoa,fungi,viridiplantae,Taxonomic lineage,Organism,Organism (ID),Reviewed,len,taxonID,isMarine,isFreshwater,isTerrestrial,isExtinct,isBrackish,ncbi_taxid,title,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank,any_marine_freshwater_brackish,percent,percent_rolling
988,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Homo sapiens (Human),9606,reviewed,20434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,10.323174,10.323174
1181,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Mus musculus (Mouse),10090,reviewed,17207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,8.692907,19.016080
1239,False,False,False,True,"cellular organisms (no rank), Eukaryota (super...",Arabidopsis thaliana (Mouse-ear cress),3702,reviewed,16384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,8.277130,27.293211
2770,True,True,False,False,"cellular organisms (no rank), Eukaryota (super...",Rattus norvegicus (Rat),10116,reviewed,8195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,4.140081,31.433291
2926,True,False,True,False,"cellular organisms (no rank), Eukaryota (super...",Saccharomyces cerevisiae (strain ATCC 204508 /...,559292,reviewed,6727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,3.398453,34.831744

In [116]:
eukaryota_counted_worms_reviewed_rolling.query(
    "any_marine_freshwater_brackish"
).percent.sum()

4.026916839696276

### -> 4% of Uniprot Reviewed is marine

## Compute number of predicted animals

In [117]:
worms_taxon_simplified.shape

(282261, 9)

In [118]:
worms_taxon_simplified.head()

,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,taxonRank
taxonID,,,,,,,,,
urn:lsid:marinespecies.org:taxname:1,Biota,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
urn:lsid:marinespecies.org:taxname:2,Animalia,Animalia,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
urn:lsid:marinespecies.org:taxname:3,Plantae,Plantae,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
urn:lsid:marinespecies.org:taxname:4,Fungi,Fungi,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom
urn:lsid:marinespecies.org:taxname:5,Protozoa,Protozoa,NaN,NaN,NaN,NaN,NaN,NaN,Kingdom

In [119]:
predicted_animals_earth = 7.7e6
predicted_animals_ocean = 2.15e6
catalogued_animals_ocean = len(worms_taxon_simplified.query('kingdom == "Animalia"'))
catalogued_animals_ocean

252282

In [120]:
predicted_animals = predicted_animals_earth + predicted_animals_ocean
predicted_animals

9850000.0

In [121]:
100 * predicted_animals_ocean / predicted_animals

21.82741116751269

In [122]:
100 * catalogued_animals_ocean / predicted_animals_ocean

11.734046511627907

In [123]:
100 * (1 - catalogued_animals_ocean / predicted_animals_ocean)

88.26595348837209